*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.page{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.title h1{
    font-size: 50px;
    width: 60vh;
    height: 20vh;
    color: #42505C;
}

.text h4{
    width: 58vh;
    height: 20vh;
    color: #404040;
    line-height: 30px;
}

.divider{
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px dashed #a9a9a9;
    width: 55vh;
    margin-right: 30px;
}

.formulario{
    display: flex;
    justify-content: space-between;
}

.formulario label{
    display: flex;
    justify-content: space-between;
}

.image-page img{
    width: 120vh;
}